<footer >
    <div>
        <h4>Miniproyecto con angular</h4>
        <h4>Tecnologias web</h4>
        <h4>Universidad Autonoma de Aguascalientes</h4>   
    </div>
    <div>
        <a href="https://www.instagram.com/stillalphotel?igsh=MW5qbWR5OXZtamhzdw==">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z"/>
                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M16.5 7.5v.01"/>
            </svg>
        </a>
        <a href="https://www.facebook.com/share/1DgTW4fMxZ/">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3"/>
            </svg>
        </a>
        <a href="https://www.tiktok.com/@stillalp?is_from_webapp=1&sender_device=pc">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="1"  stroke-linecap="round"  stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M21 7.917v4.034a9.948 9.948 0 0 1 -5 -1.951v4.5a6.5 6.5 0 1 1 -8 -6.326v4.326a2.5 2.5 0 1 0 4 2v-11.5h4.083a6.005 6.005 0 0 0 4.917 4.917z"/>
            </svg>
        </a>
    </div>

    <div>
       <p>Bahnhofstrasse #15</p>
       <p>#8001 Zürich</p>
       <p>Suiza</p>

       <p>+41 44 123 45 67</p>
       <p>+41 22 987 65 43</p>
       <p>+41 31 456 78 90</p>
    </div>
</footer>