<div class="container d-flex flex-column justify-content-center align-items-center">
    <mat-icon>person</mat-icon>

    <h3>Inicia sesion</h3>

    <div [formGroup]="loginForm" class="d-flex flex-column justify-content-center align-items-center">
        <mat-form-field>
            <mat-label class="label-custom">Nombre de usuario</mat-label>
            <input matInput required formControlName="username">
            <mat-error>
                @if (loginForm.get('username')?.hasError('required')) {
                    El nombre de usuario es obligatorio
                }
            </mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label class="label-custom">Email</mat-label>
            <input matInput required formControlName="email">
            <mat-error>
                @if (loginForm.get('email')?.hasError('required')) {
                    El correo es obligatorio
                } @else if (loginForm.get('email')?.hasError('email')) {
                    El correo no tiene un formato válido
                }
            </mat-error>
        </mat-form-field>
    
        <mat-form-field>
            <mat-label class="label-custom">Contraseña</mat-label>
            <input matInput type="password" required formControlName="password">
            <mat-error>
                @if (loginForm.get('password')?.hasError('required')) {
                    La contraseña es obligatoria
                }
            </mat-error>
        </mat-form-field>
        
        <button mat-flat-button class="button" (click)="compararCredenciales()">Ingresar</button>
    </div>
    <p>Si no tienes una cuenta</p>
    <a [routerLink]="['/altas']">click aquí</a>
</div>