<div class="container">
    <div style="display: flex; justify-content: center;">
        <div class="descripcion">
            <h1>Sobre el sitio web</h1>
            <p>Este sitio fue desarrollado utilizando Angular como framework principal, 
            haciendo uso de TypeScript para estructurar la lógica del lado del cliente, 
            y HTML junto con CSS para construir y diseñar la interfaz de usuario.
            Es importante mencionar que este proyecto abarca por el momento solo la parte del frontend.
            </p>
        
            <div class="imgs row">
                <div class="col-md-12 col-lg-3 d-flex justify-content-center">
                    <img src="angularLogo.png" alt="...">
                </div>
                <div class="col-md-12 col-lg-3 d-flex justify-content-center">
                    <img src="htmlLogo.png" alt="...">
                </div>
                <div class="col-md-12 col-lg-3 d-flex justify-content-center">
                    <img src="cssLogo.png" alt="...">
                </div>
                <div class="col-md-12 col-lg-3 d-flex justify-content-center">
                    <img src="typescriptLogo.png" alt="...">
                </div>
            </div>
            <p>Proyecto escolar para la materia de Tecnologías Web</p>
            <p>impartida por la maestra Georgina Salazar Partida</p>
            <p>Universidad Autonoma de Aguascalientes</p>
        </div>
    </div>

    <div style="display: flex; justify-content: center; width: 100%;">
        <div class="devs-info">
                        <!-- TÍTULO -->
            <h1 class="text-center">Developers</h1>

            <!-- IMÁGENES HORIZONTALES -->
            <div class="devs-img d-flex justify-content-center flex-wrap gap-4 mb-4">
            <a [routerLink]="['/dev', 350426]">
                <img [src]="imgRafa" alt="Rafa" class="img-dev">
            </a>
            <a [routerLink]="['/dev', 347948]">
                <img [src]="imgCami" alt="Cami" class="img-dev">
            </a>
            <a [routerLink]="['/dev', 349549]">
                <img [src]="imgKike" alt="Kike" class="img-dev">
            </a>
            <a [routerLink]="['/dev', 349312]">
                <img [src]="imgChris" alt="Chris" class="img-dev">
            </a>
            <a [routerLink]="['/dev', 351186]">
                <img [src]="imgkim" alt="Kim" class="img-dev">
            </a>
        </div>

        </div>
    </div>
    
</div>
