
<!--<div class="container">
    <div class="title">
        <h2>Mis reservas</h2>
    </div>

    <div class="reservas">
        @for (reserva of reservas; track reserva.id) {
            <div class="reserva">
                <h3>{{ reserva.nombre }}</h3>
                <p>Fecha de llegada: {{ reserva.fechaIngreso | date }}</p>
                <p>Fecha de salida: {{ reserva.fechaSalida | date }}</p>
                <p>Tipo de habitación: {{ reserva.tipoHab }}</p>
                <p>Número de personas: {{ reserva.numPersonas }}</p>
                <button  (click)="eliminarReserva(reserva.id)">Eliminar</button>
            </div>
        }
    </div>
    
</div>!-->
<div class="container my-4">
  <div class="text-center mb-4">
    <h2 class="fw-bold ">Mis reservas</h2>
  </div>

  <div class="grid" >
    @for (reserva of reservas; track reserva.id) {
       
        <div class="card shadow  " style="width: 1000px;">
          <div class="card-body">
            <h5 class="card-title">{{ reserva.nombre }}</h5>
            <p class="card-text">
              <strong>Fecha de llegada:</strong> {{ reserva.fechaIngreso | date }}<br>
              <strong>Fecha de salida:</strong> {{ reserva.fechaSalida | date }}<br>
              <strong>Tipo de habitación:</strong> {{ reserva.tipoHab.tipo }}<br>
              <strong>Número de personas:</strong> {{ reserva.numPersonas }}<br>
                <strong>Costo total:</strong> ${{ reserva.tipoHab.costo * reserva.numPersonas }}.00
            </p>
            <button class="btn btn-danger" (click)="eliminarReserva(reserva.id)">Eliminar</button>
          </div>
        </div>
    }
  </div>
</div>
