
<div class="container">
    <div class="title">
        <h2>Mis reservas</h2>
    </div>

    <div class="reservas">
        @for (reserva of reservas; track reserva.id) {
            <div class="reserva">
                <h3>{{ reserva.nombre }}</h3>
                <p>Fecha de llegada: {{ reserva.fechaIngreso | date }}</p>
                <p>Fecha de salida: {{ reserva.fechaSalida | date }}</p>
                <p>Tipo de habitación: {{ reserva.tipoHab }}</p>
                <p>Número de personas: {{ reserva.numPersonas }}</p>
                <button  (click)="eliminarReserva(reserva.id)">Eliminar</button>
            </div>
        }
    </div>
    
</div>
